<!-- <p>about works!</p> -->
<section class="about container">
            <h1 class="text-center mb-5">About</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            <div class="follow text-center">
                <a href="https://web.facebook.com/">Facebook</a>
                <a href="https://www.youtube.com/">Youtube</a>
                <a href="https://www.instagram.com/">Instargam</a>
                <a href="https://twitter.com/">Twitter</a>
            </div>
</section>