<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid edit-bavbar">
    <a class="navbar-brand"  routerLink="" style="color: bisque; font-weight: bold;">E-ducation</a>
    <button style="color: #fff;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link"  routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="joinnow">Joinnow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <a target="_blank" href="https://www.google.com/maps/@11.5539968,104.9034752,12z?entry=ttu" class="locationlink">Location <i class="bi bi-geo-alt-fill"></i></a>
    <p class="text-center" >&copy; education 2020. All right reserved</p>
</footer>